<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RESTful request</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script> src="script.js"</script>

</head>
<body>
<div data-ng-app="myApp" data-ng-controller="FetchController">
        <form name="frm">
            <select data-ng-model="data.singleSelect" required>
                <option value="">---Select Method---</option>
                <option value="getNoParam">GET without Parameters</option>
                <option value="getParam">GET with Parameters</option>
                <option value="post">POST</option>
            </select><br>
        </form>
        <br/>

        <form data-ng-hide="!data.hasParameters">
            <input  type="text" placeholder="Enter Parameters" data-ng-model="data.hasParameters" required />
        </form>
        <button data-ng-click="data.response()" data-ng-disabled="frm.$invalid" data-[disabled]="!hasParameters.invalid" >Submit</button>
</div>
</body>
</html>
